:root {
  --color-principal: rgb(231, 230, 216);
  --color-secundario: rgb(238, 238, 9);
  --color-terciario: rgba(0, 0, 0, 0.349);
  --color-cuarto: black;
  --fuente: "Poppins", sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  font-family: var(--fuente);
  background-color: var(--color-principal);
  display: flex;
  align-items: center;
  justify-content: center;
}

.formulario {
  background-color: var(--color-secundario);
  border: solid 2px var(--color-cuarto);
  border-radius: 7px;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.titulo {
  font-size: 32px;
  font-weight: bold;
}

.eslogan {
  font-size: 16px;
}

#miFormulario {
  border: dashed 2px var(--color-terciario);
  border-radius: 7px;
  padding: 0.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  width: 95%;
}
#correo, #contrasena {
    background-color: var(--color-cuarto);
    border: none;
    border-radius: 7px;
    padding: 5px;
    padding-left: 2px;
    width: 100%;
    color: var(--color-principal);
}
#correo::placeholder, #contrasena::placeholder {
    color: var(--color-principal);
    padding: 5px;
    font-size: 15px;
}
button{
    border: none;
    cursor: pointer;
    background-color: var(--color-principal);
    font-size: 20px;
    width: 60%;
    height: 35px;
    border-radius: 7px;
}
button:hover{
  background-color: rgb(196, 195, 182);
}

.links {
  margin-top: 0.5rem;
  display: flex;
  gap: 0.7rem;
}

a {
  text-decoration: none;
  color: var(--color-cuarto);
  font-size: 15px;
}

a:hover {
  color: var(--color-terciario);
}
.error {
  color: red;
  font-family: var(--fuente);
  font-size: 14px;
  text-align: center;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  width: 100%;
}