:root {
  --color-principal: rgb(231, 230, 216);
  --color-secundario: rgb(238, 238, 9);
  --color-terciario: rgba(0, 0, 0, 0.349);
  --color-cuarto: black;
  --fuente: "Poppins", sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  font-family: var(--fuente);
  background-color: var(--color-principal);
  display: flex;
  align-items: center;
  justify-content: center;
}
.contenido{
  background-color: var(--color-secundario);
  border: solid 2px var(--color-cuarto);
  border-radius: 7px;
  padding-left: 1rem;
  padding-right: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
  align-items: center;
  width: 40%;
  height: 200px;
}
.titulo{
    font-size: 30px;
    font-weight: bold;
}
.info{
    font-weight: bolder;
}
#miFormulario{
    border: dashed 2px var(--color-terciario);
    border-radius: 7px;
    padding: 0.3rem;
}