<IfModule mod_rewrite.c>
    RewriteEngine On
    # Asegurate de que la P sea MAYÚSCULA como tu carpeta
    RewriteBase /PRAC-PROF-FINAL/Public/
    
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteRule ^(.+)$ index.php [QSA,L]
</IfModule>