<IfModule mod_rewrite.c>
    Options -MultiViews
    RewriteEngine On

    # Si en el host tu dominio apunta directo a Public, usa /
    # Si subís la carpeta tal cual, usa /Public/
    RewriteBase /Public/

    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteRule ^(.+)$ index.php [QSA,L]
</IfModule>